h1, h2, h3, h4, h5, h6, p, li, span {
    font-family: 'Ropa Sans', sans-serif;
}

body {
    background: #e6e6e6;
}

#chart {
    width: 100%;
}

svg {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.title {
    margin-left: auto;
    margin-right: auto;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 4em;
    text-align: center;
}

#text-area {
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    font-size: 1.5em;
    min-height: 20%;
}

#speechbox {
    font-size: 0.75em;
}

#about-section {
    margin-top: 1%;
}

#about-section p {
    font-size: 1.2em;
}

#about-section h3 {
    margin-top: 0;
}

.container {
    padding: 0 !important;
    height: 100vh;
}

.path_sen { 
    stroke: #355C7D;
    stroke-width: 2;
    fill: none;
}

.path_amp { 
    stroke: #D55C2B;
    stroke-width: 2;
    fill: none;
}

.path_fre { 
    stroke: #79A687;
    stroke-width: 2;
    fill: none;
}

.sen-label {
    font-size: 1.1em;
    font-family: 'Ropa Sans', sans-serif;
    stroke: #355C7D;
}

.fre-label {
    font-size: 1.1em;
    font-family: 'Ropa Sans', sans-serif;
    stroke: #79A687;
}

.amp-label {
    font-size: 1.1em;
    font-family: 'Ropa Sans', sans-serif;
    stroke: #D55C2B;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.label {
    font-size: 1.1em;
    font-family: 'Ropa Sans', sans-serif;
}